@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

body {
  background-color: theme('colors.themeBg');
  color: theme('colors.themeText');
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  // avoid any horizontal scrolling
  overflow-x: hidden;

  & :focus {
    outline: 0 !important;
  }
}

.theme-light {
  --text: #010101;
  --text2: #868585;

  --background: #f3f3f3;
  --background2: theme('colors.gray.50');

  --accent: #c68400;
}

.theme-dark {
  --text: #f3f3f3;
  --text2: #444444;

  --background: #010101;
  --background2: theme('colors.gray.900');

  --accent: #1973cc;

  .github {
    @apply github-green;
  }
}

.theme-alt {
  --text: theme('colors.blue.800');
  --text2: theme('colors.blue.500');

  --background: #ebf6f1;
  --background2: theme('colors.green.300');

  --accent: theme('colors.purple.700');
}

.theme-alt2 {
  --text: theme('colors.red.200');
  --text2: theme('colors.red.100');

  --background: theme('colors.indigo.800');
  --background2: theme('colors.indigo.400');

  --accent: #010101;
}

// HELPERS
.radial-bg {
  background-image: radial-gradient(
    theme('colors.themeAccent'),
    theme('colors.themeBg'),
    theme('colors.themeBg')
  );
}

.github-green {
  --color-calendar-graph-day-bg: theme('colors.green.50');
  --color-calendar-graph-day-bg-L1-bg: theme('colors.green.100');
  --color-calendar-graph-day-bg-L2-bg: theme('colors.green.200');
  --color-calendar-graph-day-bg-L3-bg: theme('colors.green.300');
  --color-calendar-graph-day-bg-L4-bg: theme('colors.green.400');
}
