@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

body {
  background-color: theme('colors.themeBg');
  color: theme('colors.themeText');
  --webkit-font-smoothing: antialiased;
  --webkit-tap-highlight-color: transparent;
}

.theme-dark {
  --text: #010101;
  --text2: #868585;
  --background: #f3f3f3;
  --background2: #444444;
  --accent: #fac863;
}

.theme-light {
  --text: #f3f3f3;
  --text2: #444444;
  --background: #010101;
  --background2: #868585;
  --accent: #6699cc;
}
