@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-dark {
  --text: rgba(0, 0, 0, 1);
  --background: rgba(255, 255, 255, 1);
  --accent: rgba(255, 138, 76, 1);
}

.theme-light {
  --text: rgba(255, 255, 255, 1);
  --background: rgba(0, 0, 0, 1);
  --accent: rgba(255, 138, 76, 1);
}
