@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.themeBg');
  color: theme('colors.themeText');
  --webkit-font-smoothing: antialiased;
  --webkit-tap-highlight-color: transparent;
}

.theme-dark {
  --text: rgba(0, 0, 0, 1);
  --background: rgba(255, 255, 255, 1);
  --accent: rgba(255, 138, 76, 1);
}

.theme-light {
  --text: rgba(255, 255, 255, 1);
  --background: rgba(0, 0, 0, 1);
  --accent: rgba(155, 38, 96, 1);
}
